*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.wrapper {
    background-color: #b4b4b4;
    max-width: 500px;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.form {
    max-width: 350px;
    padding: 20px 5px;
    background: #fff;
    box-shadow: 0 4 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid gray;
    margin: 40px;
}

#input-todo {
    display: inline-block;
    padding: 8px 10px;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    height: 50px;
}

button {
    width: 300px;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #d8d8d8;
    border: 1px solid gray;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #f0f0f0;
    transition: 0.5s;
}

label {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.title {
    margin-bottom: 20px;
}

.todo-list {
    width: 350px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.todo-item {
    background-color: white;
    margin: 5px auto;
    padding: 5px 10px;
    text-align: start;
    width: 300px;
    border-radius: 7px;
    animation: animateToDo 1s;
}
